<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect root to userHome.cfm" stopProcessing="true">
                    <match url="^$" />
                    <action type="Redirect" url="/view/User/userHome.cfm"/>
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip"/>
            <mimeMap fileExtension=".webp" mimeType="image/webp"/>
        </staticContent>
    </system.webServer>
</configuration>
