<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect root to userHome.cfm" stopProcessing="true">
                    <match url="^$" />
                    <action type="Redirect" url="/view/User/userHome.cfm"/>
                </rule>
                <rule name="Redirect restricted folders to userHome" stopProcessing="true">
                    <match url="^(view|model|controller)/?$" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="^/view/User/userHome\.cfm$" negate="true"/>
                    </conditions>
                    <action type="Redirect" url="/view/User/userHome.cfm" redirectType="Permanent"/>
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip"/>
            <mimeMap fileExtension=".webp" mimeType="image/webp"/>
        </staticContent>
    </system.webServer>
</configuration>
