header{
    background: linear-gradient(90deg, #4caf50, #2e7d32);
}
.brand {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    cursor: pointer;
}
.logo-icon {
    color: white;
    font-size: 2rem;
    margin-right: 10px;
}

.custom-title {
    font-family: 'Serif';
    font-size: 2rem;
    color: #158f15; 
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.custom-btn {
    background: linear-gradient(90deg, #4caf50, #2e7d32);
    color: white;
    border: none;
}
.custom-btn:hover {
    background: linear-gradient(90deg, #66bb6a, #388e3c); 
    color: white;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 1px;
    margin-bottom: 10px;
    display: block;
}


.success {
    color: green;
    font-size: 16px;
    margin-top: 1px;
    margin-bottom: 10px;
    display: block;
}
footer {
    background: linear-gradient(90deg, #4caf50, #2e7d32);
    padding: 70px;
    margin-top: 130px;
    
}